<div class="row">
  <div class="col-xs-12">
    <h1>Recipe Name</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
        Manage Recipe
        <span class="caret"></span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <li ngbDropdownItem><a href="#">To Shopping List</a></li>
        <li ngbDropdownItem><a href="#">Edit Recipe</a></li>
        <li ngbDropdownItem><a href="#">Delete Recipe</a></li>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">Description</div>
</div>

<div class="row">
  <div class="col-xs-12">Ingredients</div>
</div>
